/* global nav or tabs */
.nav {
    &:not(.nav-pills) {
        .nav-link {
            &.active {
                color: rgba(var(--adminuiux-theme-1-rgb), 1);
            }
            &:hover,
            &:focus {
                color: rgba(var(--adminuiux-theme-1-rgb), 0.75);
            }
        }
    }
    &.adminuiux-nav {
        .nav-item {
            .nav-link {
                color: rgba(var(--adminuiux-theme-1-rgb), 0.5);
                &:hover,
                &:focus {
                    color: rgba(var(--adminuiux-theme-1-rgb), 1);
                }
                &.active {
                    color: rgba(var(--adminuiux-theme-1-rgb), 1);
                }
            }
        }
    }
    &.small {
        .nav-item {
            .nav-link {
                --bs-nav-link-padding-y: 0.15rem;
            }
        }
    }
}
.nav-pills {
    .nav-link {
        &:hover,
        &:focus {
            color: var(--adminuiux-theme-1);
            background-color: rgba(var(--adminuiux-theme-1-rgb), 0.15);
        }
        &.active {
            color: var(--adminuiux-theme-1-text);
            background-color: var(--adminuiux-theme-1);
        }
    }
    &.adminuiux-nav-pills {
        .nav-item {}
        .nav-link {
            display: flex;
            align-items: center;
            position: relative;
            .icon {
                margin-right: 10px;
                font-size: 20px;
            }
        }
        &.bottom-dot {
            .nav-link {
                &:after {
                    content: "";
                    height: 4px;
                    width: 4px;
                    border-radius: 4px;
                    background-color: var(--adminuiux-theme-1);
                    opacity: 0;
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transition: linear all 0.3s;
                }
                &:hover,
                &:focus {
                    &:after {
                        bottom: -8px;
                        width: 5px;
                        opacity: 0.25;
                    }
                }
                &.active {
                    &:after {
                        bottom: -8px;
                        width: 20px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.nav-tabs {
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-tabs-link-hover-border-color: rgba(var(--adminuiux-theme-1-rgb), 0.15);
    --bs-nav-link-hover-color: var(--adminuiux-theme-1);
}
.nav-sm {
    --bs-nav-link-padding-x: 0.5rem;
    --bs-nav-link-padding-y: 0.25rem;
    --bs-nav-link-font-size: 0.875rem;
}
.adminuiux-tabs {
    --bs-nav-tabs-link-hover-bg: rgba(var(--adminuiux-theme-1-rgb), 0.05);
    --bs-nav-tabs-link-active-color: var(--adminuiux-theme-1);
    --bs-nav-tabs-link-active-border-color: var(--adminuiux-theme-1);
    --bs-nav-tabs-link-active-bg: rgba(var(--adminuiux-theme-1-rgb), 0.05);
    --bs-nav-tabs-border-width: 0;
    .nav-link {
        border-width: 0px 0px 3px 0px;
    }
}
.swiper-pagination-bullets {
    .swiper-pagination-bullet {
        background-color: var(--adminuiux-theme-1);
    }
    &.white {
        .swiper-pagination-bullet {
            background-color: #ffffff;
        }
    }
    &.inline {
        display: flex;
        .swiper-pagination-bullet {
            flex: 1 0 0%;
        }
    }
    &.line {
        .swiper-pagination-bullet {
            border-radius: 0px;
            height: 4px;
        }
    }
}
/* dark mode */
[data-bs-theme=dark] {
    .nav {
        .nav-item {
            .nav-link {
                &.active {
                    color: #ffffff;
                }
            }
        }
    }
    .nav-pills {
        --bs-nav-link-hover-color: var(--bs-link-color);
    }
    .adminuiux-tabs {
        --bs-nav-tabs-link-color: var(--bs-link-color);
        --bs-nav-link-hover-color: var(--bs-nav-tabs-link-color);
        --bs-nav-tabs-link-hover-color: var(--bs-link-color);
        --bs-nav-tabs-link-active-color: #ffffff;
    }
    .swiper-pagination-bullet {
        background-color: #ffffff;
    }
}