/* ======================================= */
/*! style.css v1.0.0 | Adminuiux 2025 */
/* ======================================= */
/* theme variables */
@use "_variables";
/* theme custom css */
@use "_button";
@use "_breadcrumb";
@use "_card";
@use "_calendar";
@use "_colors";
@use "_dropdown";
@use "_footer";
@use "_form-elements";
@use "_header";
@use "_list";
@use "_modal";
@use "_nav";
@use "_sidebar";
@use "_table";
@use "_chart";
@use "_loaders";
@use "_animations";
@use "_utility";
@use "_personalize";
@use "_rtl";
/* theme general css */
html
{
    min-height: 100vh;
}
body
{
    font-family: var(--adminuiux-content-font), sans-serif;
    font-weight: var(--adminuiux-content-font-weight);
    background-color: var(--adminuiux-bg-1);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--adminuiux-text);
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-weight: 500;
    &:last-child
    {
        margin-bottom: 0;
    }
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: var(--adminuiux-title-font), sans-serif;
    font-weight: var(--adminuiux-title-font-weight);
}
p
{
    &:last-child
    {
        margin-bottom: 0;
    }
}
hr
{
    border-color: var(--bs-border-color);
    opacity: 1;
}
.adminuiux-wrap
{
    flex-grow: 1;
    .adminuiux-content
    {
        --bs-link-color-rgb: var(--adminuiux-theme-1-rgb);
    }
}
.roundedui
{
    --bs-border-radius-lg: 2rem;
    --bs-border-radius: 1.5rem;
    --bs-border-radius-sm: 1rem;
    .card
    {
        --bs-card-cap-padding-y: 1rem;
        .card-body,
        .card-header,
        .card-footer
        {
            --bs-border-radius-lg: 1.5rem;
            --bs-border-radius: 1rem;
            --bs-border-radius-sm: 0.5rem;
            .btn,
            .form-control,
            .form-select,
            .input-group,
            .choices .choices__inner,
            .nav
            {
                --bs-border-radius-lg: 2rem;
                --bs-border-radius: 1.5rem;
                --bs-border-radius-sm: 1rem;
            }
        }
        &>.p-1
        {
            --bs-border-radius-lg: 1.65rem;
            --bs-border-radius: 1.25rem;
            --bs-border-radius-sm: 0.65rem;
        }
        .card
        {
            --bs-border-radius: 0.875rem;
            --bs-border-radius-lg: 1rem;
            --bs-border-radius-sm: 0.625rem;
            .btn,
            .form-control,
            .form-select
            {
                --bs-border-radius-lg: 2rem;
                --bs-border-radius: 1.5rem;
                --bs-border-radius-sm: 1rem;
            }
        }
    }
    .pagination li .page-link
    {
        border-radius: var(--bs-border-radius) !important;
    }
    &.adminuiux-sidebar-boxed
    {
        --bs-border-radius: 28px;
    }
}
.sharpcornerui
{
    --bs-border-radius-lg: 6px;
    --bs-border-radius: 4px;
    --bs-border-radius-sm: 3px;
}
.login-box
{
    max-width: 450px;
}
/* scrollbar style */
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track
{
    box-shadow: inset 0 0px 1px 0px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.02);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(var(--adminuiux-theme-1-rgb), 0.1);
}
.adminuiux-in-iframe
{
    &::-webkit-scrollbar, ::-webkit-scrollbar
    {
        width: 0px;
        height: 0px;
    }
}
/* dark mode */
[data-bs-theme=dark]
{
    .adminuiux-wrap
    {
        .adminuiux-content
        {
            --bs-link-color-rgb: 255, 255, 255;
            --bs-link-color: #ffffff;
        }
    }
}