/* Import Bootstrap CSS */
@use 'bootstrap/dist/css/bootstrap.min';
/* Import Chosen CSS */
@use 'chosen-js/chosen.css';
/* Import Bootstrap Icons */
@use 'bootstrap-icons/font/bootstrap-icons';
/* Import Swiper CSS */
@use 'swiper/css/bundle';
/* Import dataTable.net-dt css */
@use 'datatables.net-dt/css/dataTables.dataTables.min.css';
@use 'datatables.net-responsive-dt/css/responsive.dataTables.min.css';
/* Import choices js */
@use "choices.js/src/styles/choices";
/* Import Adminuiux customize styles */
@use 'assets/scss/style';
/* Add your custom styles below */
app-internal-layout, app-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
app-date-picker-inline ngx-daterangepicker-bootstrap {
    margin: 0 auto;
    display: inline-block;
    .card {
        box-shadow: none;
        border: 0;
        background-color: transparent;
        margin: 0 auto;
        z-index: 0;
        .calendar {
            z-index: 0;
        }
    }
}
.choices+label {
    transform: scale(0.85) translateY(-0.85rem) translateX(0.15rem) !important;
}
.choices__list--dropdown, .choices__list[aria-expanded] {
    z-index: 4;
}
.NgxEditor__Wrapper {
    --ngx-editor-background-color: var(--bs-body-bg);
    --ngx-editor-menubar-bg-color: var(--bs-body-bg);
    --ngx-editor-text-color: var(--bs-body-color);
    --ngx-editor-wrapper-border-color: var(--bs-border-color);
    --ngx-editor-seperator-color: var(--bs-border-color);
    --ngx-editor-border-color: var(--bs-border-color);
    --ngx-editor-border-radius: var(--bs-border-radius);
    --ngx-editor-icon-size: 25px;
}